.mail {
background-color: green;
margin: 5px;
margin-left:0px;
padding:2px 3px;
text-decoration: none;
color:black;
font-size:10px;
}
.tp {
	background-color: green;
	margin:5px;
	margin-left:0;
	padding:2px 3px;
	text-decoration: none;
	color:black;
	font-size:10px;
}